<%#
  item -- case_study article
%>

<article class="b-case-study-preview" id="case-study-<%= item.slug %>">
  <% color = rgba (item.data.color || data.colors.black), 0.7 %>
  <a
    href="<%= item.url %>"
    style="
      background-image: url('<%= case_study_bg_path(item) %>');
      background-color: rgba(<%= color.rgba.join(",") %>);
    ">
    <div
      class="content-wrap will-animate fadeIn"
      data-wow-delay="0.3s"
      data-wow-offset="100">
      <div class="content">
        <div class="logo__case-study">
          <%= case_study_logo({}, item) %>
        </div>
        <h2><%= item.data.tagline %></h2>
      </div>
    </div>
  </a>
</article>
