<li><a href="<%= data.urls.twitter %>" target="_blank"><%= icon 'e49d' %></a></li>
<li><a href="<%= data.urls.facebook %>" target="_blank"><%= icon 'e49a' %></a></li>
<li><a href="<%= data.urls.google_plus %>" target="_blank"><%= icon 'e493' %></a></li>
<li><a href="<%= data.urls.dribbble %>" target="_blank"><%= icon 'e4af' %></a></li>
<li><a href="<%= data.urls.github %>" target="_blank"><%= icon 'e4b8' %></a></li>
