<footer id="footer" class="s-footer">
  <div class="s-footer__newsletter">
    <%= icon 'e600' %>
    <a href="<%= data.urls.newsletter %>">Subscribe to Our Monthly Newsletter &rarr;</a>
  </div>
  <ul class="social-icons-list s-footer__social">
    <%= partial "components/social-icons" %>
  </ul>
  <p class="s-footer__copyright">
    © <%= Time.now.year %> LaCroix Design Co.
  </p>
</footer>

<nav id="supplementary-nav" class="s-footer-nav">
  <ul>
    <li class="top-row"><a href="/">About</a></li>
    <li class="top-row"><a href="<%= data.urls.work %>">Work</a></li>
    <li class="top-row"><a href="<%= data.urls.services %>" data-close-menu>Services</a></li>
    <li><a href="<%= data.urls.team %>" data-close-menu>Team</a></li>
    <li><a href="<%= data.urls.blog %>">Blog</a></li>
    <li><a href="#menu" data-toggle-nav>Contact</a></li>
  </ul>
</nav>
