<%
  cover   = current_page.data.cover_header || current_page.data.above_header
  no_grad = current_page.data.above_header
  bg      = current_page.data.header_background
  logo    = cover || current_page.data.light_logo ? 'logo-light' : 'logo-dark'
%>

<header id="header"
        class="s-header
              <%= 'has-cover-header' if cover %>
              <%= 'has-fill-header' if bg %>
              <%= 'has-no-gradient' if no_grad %>"
        <% if bg && bg.is_a?(String) %>
          style="background-color: <%= bg %>"
        <% end %>>

  <%# don't show logo on homepage %>
  <% unless current_page.url == "/" %>
    <div class="s-header__logo">
      <a href="/">
          <img
            src="<%= image_path "#{logo}.svg" %>"
            onerror="this.src='<%= image_path "#{logo}.png" %>'"
            alt="<%= data.site.title %>"
            class="image-fullheight">
      </a>
    </div>
  <% end %>

</header>

<nav id="nav" class="b-nav">
  <div class="wrap">
    <a href="#menu" id="menu-open" class="b-menu-toggle"><%= icon 'e2af' %></a>
    <a href="#menu" id="menu-close" class="b-menu-toggle"><%= icon 'e36b' %></a>
  </div>
</nav>

<nav id="menu" class="b-menu">
  <ul class="b-menu-list">
    <li><a href="/">About</a></li>
    <li><a href="<%= data.urls.work %>">Work</a></li>
    <li><a href="<%= data.urls.services %>">Services</a></li>
    <li><a href="<%= data.urls.team %>">Team</a></li>
    <li><a href="<%= data.urls.blog %>">Blog</a></li>
  </ul>
  <ul class="b-menu-social">
    <%= partial "components/social-icons" %>
  </ul>
  <div class="b-menu-email">
    <%= mail_to data.site.contact_email, data.site.display_email %>
  </div>
  <div class="b-menu-phone">
    <%= link_to data.site.phone_number, "tel:#{data.site.phone_number}" %>
  </div>
</nav>
