<header id="header" class="s-header <%= 'negative' if current_page.data.negative_header %> <%= 'over' if current_page.data.over_header %>">

  <div class="s-header__logo">
    <a href="/">
      <img src="<%= image_path 'logo.svg' %>"
           onerror="this.src='<%= image_path 'logo.png' %>'"
           alt="<%= data.site.title %>"
           class="image-fullheight">
    </a>
  </div>

  <nav id="nav" class="s-header__nav">
    <a href="#menu" id="menu-open" class="b-menu-toggle"><%= icon 'e2af' %></a>
    <a href="#menu" id="menu-close" class="b-menu-toggle"><%= icon 'e36b' %></a>
    <div id="menu" class="b-menu">
      <ul class="b-menu-list">
        <li><a href="/">About</a></li>
        <li><a href="<%= data.urls.work %>">Work</a></li>
        <li><a href="<%= data.urls.services %>">Services</a></li>
        <li><a href="<%= data.urls.team %>">Team</a></li>
        <li><a href="<%= data.urls.blog %>">Blog</a></li>
        <li><a href="<%= data.urls.contact %>">Contact</a></li>
      </ul>
      <ul class="b-menu-social">
        <%= partial "components/social-icons" %>
      </ul>
      <div class="b-menu-contact">
        <%= mail_to data.site.contact_email %>
      </div>
    </div>
  </nav>

</header>
