<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <!--
  _
  _
  _          ///   ///    ..oOOOo..
  _         ///   ///  .:OOOOOOOOOOO:.
  _        ///   ///  .OOOOOOOOOOOOOOO.
  _       ///   ///   OOOOOOOOOOOOOOOOO
  _      ///   ///    OOOOOOOOOOOOOOOOO
  _     ///   ///     OOOOOOOOOOOOOOOOO
  _    ///   ///      `OOOOOOOOOOOOOOO'
  _   ///   ///        `:OOOOOOOOOOO:'
  _  ///   ///            ''*OOO*''
  _
  _  Designed & Developed by LaCroix Design Co.
  _    http://lacroixdesign.net
  _
  _
  -->

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= partial "layouts/includes/seo_meta" %>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="application-name" content="&nbsp;">
  <link rel="alternate" type="application/atom+xml" title="LaCroix Design Co. Blog" href="/feed.xml">
  <link rel="publisher" href="https://plus.google.com/113390683460121177144">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#14191f">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#14191f">

  <%# Stylesheets %>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/806434/723404/css/fonts.css">

  <%# Modernizr %>
  <%= javascript_include_tag  "modernizr" %>

  <%# Google Analytics %>
  <% if data.site.google_analytics_id && data.site.google_analytics_domain %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= data.site.google_analytics_id %>', 'auto');
      ga('send', 'pageview', {
        'page': location.pathname + location.search  + location.hash
      });
    </script>
  <% end %>

  <%# Heap Analytics %>
  <% if data.site.heap_analytics_id %>
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
      heap.load("<%= data.site.heap_analytics_id %>");
    </script>
  <% end %>
</head>

<body>
  <div id="content">
    <%= partial "layouts/includes/header" %>
    <div class="page-content" id="page-content">
      <%= yield %>
    </div>
    <%= partial "layouts/includes/footer" %>
    <% if content_for? :post_footer %>
      <%= yield_content :post_footer %>
    <% end %>
    <div class="b-menu-body-overlay"></div>
  </div>

  <%= partial "templates/posts_boxes" %>

  <%# JavaScripts %>
  <% jquery = asset_url("javascripts/vendor/jquery-1.11.2.min.js") %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="<%= jquery %>"><\/script>')</script>
  <%= javascript_include_tag  "main" %>

  <% if data.site.clicky_analytics_id %>
    <script type="text/javascript">
      var clicky_custom = clicky_custom || {};
      clicky_custom.title = document.title.replace(' | LaCroix Design Co.', '');

      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(<%= data.site.clicky_analytics_id %>);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100733305ns.gif" /></p></noscript>
  <% end %>

  <%# Knowledge Graph %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://www.lacroixdesign.net",
    "sameAs" : [ "<%= data.urls.facebook %>",
      "<%= data.urls.twitter %>",
      "<%= data.urls.linkedin %>",
      "<%= data.urls.google_plus %>"],
    "logo": "http://media.lacroixdesign.net/lacroix-logo-dark.png",
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+1-312-436-1532",
      "contactType" : "customer service"
    } ]
  }
  </script>

  <%# Twitter %>
  <script>
    window.twttr = (function (d, s, id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
    }(document, "script", "twitter-wjs"));
  </script>


</body>
</html>
