<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <!--
  _
  _
  _          ///   ///    ..oOOOo..
  _         ///   ///  .:OOOOOOOOOOO:.
  _        ///   ///  .OOOOOOOOOOOOOOO.
  _       ///   ///   OOOOOOOOOOOOOOOOO
  _      ///   ///    OOOOOOOOOOOOOOOOO
  _     ///   ///     OOOOOOOOOOOOOOOOO
  _    ///   ///      `OOOOOOOOOOOOOOO'
  _   ///   ///        `:OOOOOOOOOOO:'
  _  ///   ///            ''*OOO*''
  _
  _  Designed & Developed by LaCroix Design Co.
  _    http://lacroixdesign.net
  _
  _
  -->

  <meta charset="utf-8">
  <title><%= page_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="description" content="<%= current_page.data.description || site_description %>">
  <meta name="author" content="Michael LaCroix, James LaCroix">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta property="og:title" content="<%= page_title %>">
  <meta property="og:image" content="<%= yield_content(:featured_image) || image_path("social/lacroixdesignco.jpg") %>">
  <meta property="og:url" content="<%= data.site.host + current_page.url %>">
  <meta property="og:description" content="<%= current_page.data.description || site_description %>">
  <meta property="og:site_name" content="<%= data.site.title %>">

  <link href="/favicon.ico" rel="shortcut icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon-76x76.png" sizes="76x76">
  <link rel="apple-touch-icon" href="/apple-touch-icon-120x120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" sizes="152x152">

  <% if content_for? :authorship %>
    <%= yield_content :authorship %>
  <% end %>

  <%# Stylesheets %>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/806434/723404/css/fonts.css">

  <%# Modernizr %>
  <%= javascript_include_tag  "modernizr" %>

  <%# Google Analytics %>
  <% if data.site.google_analytics_id && data.site.google_analytics_domain %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= data.site.google_analytics_id %>', '<%= data.site.google_analytics_domain %>');
      ga('send', 'pageview');
    </script>
  <% end %>

  <%# Heap Analytics %>
  <% if data.site.heap_analytics_id %>
    <script type="text/javascript">
      window.heap=window.heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
      heap.load("<%= data.site.heap_analytics_id %>");
    </script>
  <% end %>
</head>

<body>
  <div id="content">
    <%= partial "layouts/header" %>
    <%= yield %>
    <div class="b-menu-body-overlay"></div>
    <%= partial "layouts/footer" %>
  </div>

  <%# JavaScripts %>
  <%= javascript_include_tag  "main" %>

  <% if data.site.clicky_analytics_id %>
    <script type="text/javascript">
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(<%= data.site.clicky_analytics_id %>);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    </script>
  <% end %>
</body>
</html>
