<% wrap_layout :base do %>
  <article class="s-post" id="post--<%= current_page.slug %>">

    <% if current_page.data.cover_header %>

      <%#
        Cover hero
      %>

      <% cover_header_content = capture do %>
        <div class="l-constrained-large b-post-cover-header__content will-animate fadeIn" data-wow-duration="0.7s">
          <h1><%= current_page.data.title %></h1>
          <% if current_page.data.tagline %>
            <h2><%= current_page.data.tagline %></h2>
          <% end %>
          <time datetime=current_page.date>
            <%= current_page.date.strftime("%B %-d, %Y") %>
          </time>
          <div class="author">
            <em>by</em> <strong><%= link_to page_author.name, team_member_path(page_author) %></strong>
          </div>
        </div>
      <% end %>

      <div class="b-post-cover-header">
        <%= macro_hero(
            image: page_image,
            classes: "image--bg-holder",
            replace: true,
            theme: "theme--very-dark"
          ) { cover_header_content } %>
      </div>

    <% else %>

      <%#
        Inline hero
      %>

      <% if current_page.data.inline_header %>
        <div class="b-post-inline-header" data-wow-duration="0.7s">
          <img class="image-fullwidth"
                src="<%= page_image %>"
                alt="<%= current_page.data.title %>">
        </div>
      <% end %>

      <div class="b-post-header <%= 'theme--no-image' unless current_page.data.inline_header %>">
        <div class="l-constrained-large will-animate fadeIn" data-wow-duration="0.7s">
          <h1><%= current_page.data.title %></h1>
          <% if current_page.data.tagline %>
            <h2><%= current_page.data.tagline %></h2>
          <% end %>
          <time datetime="<%= current_page.date %>">
            <%= current_page.date.strftime("%B %-d, %Y") %>
          </time>
          <div class="author">
            <em>by</em> <strong><%= link_to page_author.name, team_member_path(page_author) %></strong>
          </div>
        </div>
      </div>

    <% end %>

    <div class="b-post-body">
      <div class="l-constrained-large">

        <%# Post content %>
        <div class="b-text will-animate fadeIn" data-wow-duration="0.7s"
              data-wow-delay="0.2s" data-wow-offset="50">
          <%= yield %>
        </div>

        <%# Comment %>
        <div class="b-simple-callout b-callout--comments">
          <%# Tweet %>
          <% tweet = capture do %>
            <%= icon 'e49d' %> Discuss on Twitter
          <% end %>
          <%= macro_tweet_intent(current_page, {class: "btn small pill icon--left"}) {
                tweet
          } %>
          <%# Designer News %>
          <% if current_page.data.dn_url %>
            <% dn_content = capture do %>
              <%= icon 'e600' %> Discuss on Designer News
            <% end %>
            <%= link_to(current_page.data.dn_url, {
                  class: "btn small pill icon--left",
                  target: "_blank"
                }) { dn_content } %>
          <% end %>
        </div>

        <%# Author %>
        <div class="b-author-meta will-animate fadeInUp" id="author">
          <div class="b-author-meta__avatar">
            <% img = capture do %>
              <img class="image-circle image-fullwidth pulse-grey-to-pink"
                    src="<%= team_member_avatar_path(page_author) %>"
                    alt="<%= page_author.name %>, a <%= page_author.job_title %> at <%= data.site.title %>">
            <% end %>
            <%= link_to img, team_member_path(page_author) %>
          </div>
          <h1><%= link_to page_author.name, team_member_path(page_author) %></h1>
          <h2><%= page_author.job_title %></h2>
          <ul class="social-icons-list">
            <%= team_member_social_list(page_author) %>
          </ul>
        </div>

      </div>
    </div>

  </article>

  <%# Call to action %>
  <div class="s-post--cta">
    <%= partial "partials/cta_section", locals: {
          text: "We are an innovative design and development team specializing in web and product experiences."
    } %>
  </div>

  <%# More posts (async) %>
  <div class="s-posts-index"
            data-current-post="<%= current_page.url %>"
            data-random-posts="3">
  </div>

<% end %>
