<div class="b-post-box-set" data-random-posts="3">
  <% blog("blog").articles.shuffle[0..2].each do |post| %>
    <div class="b-post-box">

      <%# Background image %>
      <div class="b-post-box__bg">
        <a href="<%= post.url %>" class="b-post-box__bg-link">
          <div class="b-post-box__bg-image"
                <% if page_image(post) %>
                  style="background-image: url('<%= page_image(post) %>')"
                <% end %>></div>
        </a>
      </div>

      <%# Meta %>
      <a class="b-post-box__meta b-post-preview will-animate fadeIn"
            data-wow-duration="0.7s"
            data-wow-delay="0.2s"
            href="<%= post.url %>">
        <h1><%= post.title %></h1>
        <time datetime="<%= post.date %>"><%= post.date.strftime "%B %-d, %Y" %></time>
        <% if post.data.tagline %>
          <h2><%= post.data.tagline %></h2>
        <% end %>
      </a>

    </div>
  <% end %>
</div>
