<div class="b-post-grid" data-random-posts="3" style="display:block;">
  <% blog("blog").articles[0..2].each do |post| %>
    <div class="b-post-grid">

      <a class="b-post-grid__bg" href="<%= post.url %>"></a>

      <div class="b-post-grid__bg">
        <a href="<%= post.url %>" class="b-post-grid__link">
          <div style="background-image: url('{{ imageUrl }}')"
          class="b-post-grid__bg-image"></div>
        </a>
      </div>

      <div class="b-post-grid__meta">
        <h1>
          <a href="<%= post.url %>"><%= post.title %></a>
        </h1>
        <% if post.data.tagline %>
          <h2>
            <a href="<%= post.url %>"><%= post.data.tagline %></a>
          </h2>
        <% end %>
        <time datetime="<%= post.date %>"><%= post.date.strftime "%B %-d, %Y" %></time>
      </div>

    </div>
  <% end %>
</div>
