<%
  cover   = current_page.data.cover_header || current_page.data.above_header
  no_grad = current_page.data.above_header
  bg      = current_page.data.header_background
  logo    = cover || current_page.data.light_logo ? 'logo-light' : 'logo-dark'
%>

<header id="header"
        class="s-header
              <%= 'has-cover-header' if cover %>
              <%= 'has-fill-header' if bg %>
              <%= 'has-no-gradient' if no_grad %>"
        <% if bg && bg.is_a?(String) %>
          style="background-color: <%= bg %>"
        <% end %>>

  <div class="s-header__logo">
    <a href="/">
        <img
          src="<%= image_path "#{logo}.svg" %>"
          onerror="this.src='<%= image_path "#{logo}.png" %>'"
          alt="<%= data.site.title %>"
          class="image-fullheight">
    </a>
  </div>

  <nav id="menu" class="s-header-nav" role="navigation">
    <ul>
      <%= partial "layouts/includes/nav_items" %>
    </ul>
  </nav>

</header>

<a id="nav-toggle-btn" href="#menu" data-toggle-nav>
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
</a>

<nav id="menu" class="b-menu" role="navigation">
  <ul class="b-menu-list">
    <li><a href="/#welcome">Home</a></li>
    <%= partial "layouts/includes/nav_items" %>
  </ul>
  <ul class="b-menu-social">
    <%= partial "components/social-icons" %>
  </ul>
  <div class="b-menu-email">
    <%= mail_to data.site.contact_email, data.site.display_email %>
  </div>
  <div class="b-menu-phone">
    <%= link_to data.site.phone_number, "tel:#{data.site.phone_number}" %>
  </div>
</nav>
