---
title: "Blog"
pageable: true
per_page: 10
tagline: "Periodic briefings on what we have been researching, designing, building and thinking."
---

<div class="b-section--basic-header">
  <h1 class="will-animate fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <%= current_page.data.title %>
  </h1>
  <h2 class="will-animate fadeIn" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <%= current_page.data.tagline %>
  </h2>
</div>

<section class="s-posts-index">
  <% page_articles.each do |item| %>
   <%= macro_post_box(post: item) %>
  <% end %>
</section>

<% if next_page %>
  <a href="<%= next_page.url %>"
      class="s-posts-index__pagination will-animate fadeInRight">
    More Articles &rarr;
  </a>
<% end %>

<%= partial "partials/cta_section" %>
