---
title: "Case Studies"
---

<section class="s-case-studies">
  <h2>We partner with smart businesses seeking forward thinking solutions to help them fulfill their goals.</h2>
  <%= component "case-study-preview", item: find_case_study_by_title("Justice Film Fest 2014") %>
  <%= component "case-study-preview", item: find_case_study_by_title("LandID") %>
  <%= component "case-study-preview", item: find_case_study_by_title("Not Today Coalition") %>
  <%= component "case-study-preview", item: find_case_study_by_title("Melanie Joye LMT") %>
  <%= component "case-study-preview", item: find_case_study_by_title("Signature Group Holdings") %>
  <%= component "case-study-preview", item: find_case_study_by_title("1 Page Sites") %>
  <%= component "case-study-preview", item: find_case_study_by_title("Dish Conference 2013") %>
  <%= component "case-study-preview", item: find_case_study_by_title("The 5 Love Languages®") %>
  <%= component "case-study-preview", item: find_case_study_by_title("Danger House Studio") %>
  <%= component "case-study-preview", item: find_case_study_by_title("Zofia & Jeremy Wedding Invitations") %>
</section>
