---
title: "Web Development & Design Studio - Chicago, IL"
---

<%# Welcome %>
<section class="s-home-welcome">
  <div class="s-home-welcome__overlay">
    <div class="l-constrained">
      <h1>LaCroix Design Co.</h1>
      <h2><em>Muji carefully curated Toto</em>, punctual flat white airport vibrant Sunspel international Washlet handsome Ginza.</h2>
      <p>
        <a href="#" class="btn-bright">Standard Button</a>
      </p>
    </div>
  </div>
</section>

<%# Recent Work %>
<section class="b-section s-home-projects" id="recent-work">
  <header>
    <h1 class="section-title">Recent projects</h1>
  </header>
  <div class="s-home-projects__items">
    <% data.recent_projects.take(3).each do |projects| %>
      <article>
        <div class="overlay__wrap">

          <div class="image-16x9">
            <img src="<%= image_path "recent-projects/backgrounds/#{projects.image}" %>" alt="<%= projects.title %>">
          </div>

          <div class="overlay__centered-dark">
            <div class="overlay__content">
              <div class="s-home-projects__logo">
                <img src="<%= image_path "recent-projects/logos/#{projects.logo}" %>" alt="<%= projects.title %>">
              </div>
              <a href="/work/<%= projects.page %>" class="bright-link"><small><em>Learn more</em></small></a>
            </div>
          </div>

        </div>
      </article>
    <% end %>
  </div>
</section>

<%# Services %>
<%# TODO add Services section: %>
<section class="b-section s-home-services" id="services">
  <header>
    <h1 class="section-title">Services</h1>
  </header>
  <p style="text-align: center;">TODO add services</p>
</section>

<%# Team %>
<section class="b-section s-team" id="team">
  <header>
    <h1 class="section-title">Team</h1>
  </header>
  <div class="l-constrained-medium">
    <div class="s-team__stars">
      <img src="<%= image_path "chicago-stars.png" %>" alt="Chicago" class="image-fullwidth">
    </div>
    <h2 class="s-team__based">
      Proudly based in Chicago
    </h2>
    <div class="s-team__about">
      <p>Monocle ipsum dolor sit amet global exclusive bureaux, Muji essential delightful boutique bespoke Melbourne Swiss Scandinavian handsome sleepy Washlet Marylebone. Intricate boulevard handsome the best smart delightful. Bureaux exclusive sophisticated impeccable.</p>
    </div>
    <div class="s-team__photos">
      <article>
        <img src="<%= image_path "team/michael-lacroix.jpg" %>" alt="Michael LaCroix">
      </article>
      <article>
        <img src="<%= image_path "team/james-lacroix.jpg" %>" alt="James LaCroix">
      </article>
    </div>
    <a href="/work-with-us" class="s-team__btn">Work With Us</a>
  </div>
</section>
