---
title: "Web Development & Design Studio - Chicago, IL"
---

<%# Welcome %>
<section class="s-home-welcome">
  <div class="s-home-welcome__overlay">
    <div class="l-constrained-large">
      <h1>LaCroix Design Co.</h1>
      <h2><em>Muji carefully curated Toto</em>, punctual flat white airport vibrant Sunspel international Washlet handsome Ginza.</h2>
      <nav class="s-home-welcome__cta">
        <a href="<%= data.urls.work_with_us %>" class="btn-bright">Work With Us</a>
      </nav>
      <!-- <nav class="s-home-welcome__links">
        <a href="<%= data.urls.recent_projects %>" class="link-bright">Recent Work</a>
        &bull;
        <a href="<%= data.urls.services %>" class="link-bright">Services</a>
        &bull;
        <a href="<%= data.urls.team %>" class="link-bright">Team</a>
      </nav> -->
    </div>
  </div>
</section>

<%# Recent Work %>
<section class="b-section s-home-projects" id="recent-work">
  <header>
    <h1 class="section-title">Recent projects</h1>
  </header>
  <div class="s-home-projects__items">
    <% data.recent_projects.take(3).each_with_index do |project, index| %>
      <article
        <% if index == 2 %> class="ie-omega"<% end %>
        style="background-image: url('<%= image_path "recent-projects/backgrounds/#{project.image}" %>')">
        <div class="media-16x9 overlay__wrap">
          <div class="overlay__centered">
            <div class="overlay__content">

              <div class="s-home-projects__logo">
                <img src="<%= image_path "recent-projects/logos/#{project.logo}" %>" alt="<%= project.title %>">
              </div>

              <a href="/work/<%= project.page %>" class="link-vivid">
                <small><em>Learn more</em></small>
              </a>

            </div>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</section>

<%# Services %>
<%# TODO add Services section: %>
<section class="b-section s-services" id="services">
  <header>
    <h1 class="section-title">Services</h1>
  </header>
  <div class="s-services__statement">
    <p>Insert a short statement about the services offered by our studio. Just a basic gist about what we do.</p>
  </div>
  <div class="s-services__lists">
    <% 4.times do %>
      <ul>
        <h2>LIST TITLE</h2>
        <% ["izakaya Gaggenau", "alluring Shinkansen", "Toto lovely craftsmanship", "impeccable Muji", "remarkable ryokan"].shuffle.take(rand 4..5).each do |phrase| %>
          <li><%= phrase %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</section>

<%# Team %>
<section class="b-section s-team" id="team">
  <header>
    <h1 class="section-title">Team</h1>
  </header>
  <div class="l-constrained-medium">
    <div class="s-team__stars">
      <img src="<%= image_path "chicago-stars.png" %>" alt="Chicago" class="image-fullwidth">
    </div>
    <h2 class="s-team__based">
      Proudly based in Chicago
    </h2>
    <div class="s-team__about">
      <p>Monocle ipsum dolor sit amet global exclusive bureaux, Muji essential delightful boutique bespoke Melbourne Swiss Scandinavian handsome sleepy Washlet Marylebone. Intricate boulevard handsome the best smart delightful. Bureaux exclusive sophisticated impeccable.</p>
    </div>
    <div class="s-team__photos">
      <article>
        <img src="<%= image_path "team/michael-lacroix.jpg" %>" alt="Michael LaCroix">
        <div><h1>Michael LaCroix</h1></div>
      </article>
      <article>
        <img src="<%= image_path "team/james-lacroix.jpg" %>" alt="James LaCroix">
        <div><h1>James LaCroix</h1></div>
      </article>
    </div>
    <a href="<%= data.urls.work_with_us %>" class="s-team__btn">Work With Us</a>
  </div>
</section>
