---
title: "Web Development & Design Studio - Chicago, IL"
---

<%# Welcome %>
<section class="s-home-welcome">
  <div class="s-home-welcome__overlay">
    <div class="l-constrained">
      <h1>LaCroix Design Co.</h1>
      <h2><em>Muji carefully curated Toto</em>, punctual flat white airport vibrant Sunspel international Washlet handsome Ginza.</h2>
      <p>
        <a href="#" class="btn-bright">Standard Button</a>
      </p>
    </div>
  </div>
</section>

<%# Recent Work %>
<section class="b-section s-home-projects">
  <header>
    <h1 class="section-title">Recent projects</h1>
  </header>
  <div class="s-home-projects__items">
    <% data.recent_projects.take(3).each do |projects| %>
      <article>
        <div class="overlay__wrap">

          <div class="image-16x9">
            <img src="<%= image_path "recent-projects/backgrounds/#{projects.image}" %>" alt="<%= projects.title %>">
          </div>

          <div class="overlay__centered-dark">
            <div class="overlay__content">
              <div class="s-home-projects__logo">
                <img src="<%= image_path "recent-projects/logos/#{projects.logo}" %>" alt="<%= projects.title %>">
              </div>
              <a href="/work/<%= projects.page %>" class="bright-link"><small><em>Learn more</em></small></a>
            </div>
          </div>

        </div>
      </article>
    <% end %>
  </div>
</section>

<section class="b-section s-home-services">
  <header>
    <h1 class="section-title">Services</h1>
  </header>
</section>

<%# TODO add these sections: %>
<h1>About (+ made in Chicago)</h1>
