---
title: "Web Development & Design Studio - Chicago, IL"
cover_header: true
---

<%# Welcome %>
<section class="s-home-welcome" id="welcome">
  <div class="l-constrained-large">
    <header>
      <h1>LACROIX DESIGN CO.</h1>
      <h2>Empowering businesses to become more successful, we design and develop bespoke, innovative experiences for web, mobile and physical interactions.</h2>
    </header>
    <nav class="s-home-welcome__cta">
      <%= component "cta-button", btn: "btn-bright", id: "cta-welcome" %>
    </nav>
  </div>
</section>

<%# Recent Work %>
<section class="s-home-projects" id="recent-work">
  <div class="b-section">
    <header>
      <h1 class="section-title">Featured Work</h1>
    </header>
    <div class="s-home-projects__items">
      <%= component "featured-project", { project: find_case_study_by_title("Justice Film Fest 2014") } %>
      <%= component "featured-project", { project: find_case_study_by_title("LandID") } %>
      <%= component "featured-project", { project: find_case_study_by_title("Melanie Joye LMT"), last: true } %>
    </div>
    <div class="l-constrained">
      <a href="<%= data.urls.work %>" class="btn small short">View All</a>
    </div>
  </div>
</section>

<%# Services %>
<section class="s-services" id="services">
  <div class="b-section">

    <header>
      <h1 class="section-title">Services</h1>
    </header>

    <div class="s-services__lists">

      <article class="b-service-list">
        <header>
          <img
            src="<%= image_path 'icons/design.svg' %>"
            onerror="this.src='<%= image_path 'icons/design.png' %>'"
            class="image-fullwidth">
        </header>
        <ul class="ie-omega">
          <h2>Design</h2>
          <li>Web &amp; Mobile Design</li>
          <li>User Experience</li>
          <li>User Interface Design</li>
          <li>Information Architecture</li>
          <li>Product Design &amp; Branding</li>
        </ul>
      </article>

      <article class="b-service-list">
        <header>
          <img
            src="<%= image_path 'icons/development.svg' %>"
            onerror="this.src='<%= image_path 'icons/development.png' %>'"
            class="image-fullwidth">
        </header>
        <ul class="ie-omega">
          <h2>Development</h2>
          <li>Websites</li>
          <li>Web Applications</li>
          <li>Content Management</li>
          <li>E-commerce Systems</li>
        </ul>
      </article>

      <article class="b-service-list ie-omega">
        <header>
          <img
            src="<%= image_path 'icons/consulting.svg' %>"
            onerror="this.src='<%= image_path 'icons/consulting.png' %>'"
            class="image-fullwidth">
        </header>
        <ul class="ie-omega">
          <h2>Consulting</h2>
          <li>Email Campaigns</li>
          <li>Content Strategy</li>
          <li>SEO/SEM</li>
          <li>Social Media Integration</li>
          <li>Concept Development</li>
        </ul>
      </article>

    </div>
  </div>
</section>

<%# Team %>
<section class="s-team" id="team">
  <div class="b-section wrap">
    <header>
      <h1 class="section-title">Team</h1>
    </header>
    <div class="l-constrained-medium">
      <div class="s-team__stars">
        <img src="<%= image_path "chicago-stars.png" %>" alt="Chicago" class="image-fullwidth">
      </div>
      <h2 class="s-team__based">PROUDLY BASED IN CHICAGO</h2>
      <div class="s-team__about">
        <p>Operating out of the Wicker Park neighborhood and serving clients globally, we are a small team of two brothers who are passionate about helping our partners grow their business. We strategically create engaging user experiences &amp; functional products through a collaborative process with businesses large and small. We look forward to working for you on your next project.</p>
      </div>
      <div class="s-team__photos">
        <% [ find_team_member_by_name("Michael LaCroix"),
             find_team_member_by_name("James LaCroix") ].each do |member| %>
          <article id="<%= member.slug %>">
            <img src="<%= image_path "team/#{member.avatar}.jpg" %>" alt="<%= member.name %>">
            <div class="overlay"><h1><%= member.name %></h1></div>
          </article>
        <% end %>
      </div>
      <div class="s-team__btn">
        <%= component "cta-button", id: "cta-team" %>
      </div>
    </div>
  </div>
</section>
